<div class="jumbotron mt-4">
    <h1 class="display-4">Información del proyecto</h1>
    <div class="lead">Aplicación bancaría creada como un "proyecto personal" que posee sistema de Cajero Automatico(Repartir x cantidad de dinero con la menor cantidad de billetes) y sistema de "transacciones" y de creditos o prestamos entre usuarios solo con usar su correo, también un sistema de balance personal y tablas, para acceder a las funcionalidades debes <a href="/users/signup">registrarte.</a></div>
    <hr class="my-4">
    <p>Aplicacion creada por John Alejandro Gonzalez con MongoDB, Express, Boostrap, NodeJS. El conocimiento de estos sistemas fue completamente autodidacta, con ayuda de las respectivas documentaciones.</p>
</div>