<footer class="f footer mt-auto py-3">
  <div class="container">
    <span class="text-black">Creado por John Alejandro González 2019 |
      Información de contacto: <a href="https://www.linkedin.com/in/j84486b177/">LinkedIn
      </a>.
      <a href="https://www.facebook.com/profile.php?id=100008060718525">Facebook
      </a>.</span>
  </div>
</footer>